.vs/Section97/FileContentIndex/58b7c8f0-e1dd-487d-aff7-0ec07feb589f.vsidx
.vs/Section97/FileContentIndex/b6c13c0c-113c-44ec-8313-f01367fd0515.vsidx
.vs/Section97/v17/.wsuo
.vs/Section97/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
